#sec-1{
  background-color: #ff4c68;
  padding: 3% 15% 7%;
}
.nav-item {
  margin-left: 20px;
}
.meet{
  color: white;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin: 20px 0;
}
.download-btn{
  margin-right: 10px;
}
.img-dog{
  width: 50%;
  transform: rotate(20deg);
}

.fa-3x{
  margin: 20px 50px;
  color: #ef8172;
}
.fa-3x:hover{
  color: #ff4c68;
}
#sec-2{
  margin: 40px 130px;
  text-align: center;
}
#sec-3{
  background-color: #ef8172;
  text-align: center;
  color: white;
}
.img3{
  border: 1px solid #ef8172;
  border-radius: 100%;
  width: 25%;
}

.pad{
  padding: 5% 15%;
}
.png{
  width: 15%;
  margin: 20px;
}
#sec-4 {
  text-align: center;
  padding: 5% 10%;
}
.sec4{
  font-weight: bolder;
}
.ups{
  width: 70%;
}
.s5{
  background-color: #ff4c68;
  padding: 70px;
text-align: center;
}
.foot{
text-align: center;
}
.end{
  padding: 20px 5px;
}
